<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('账目详情列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li style="display: none">
                            <label>账本id</label>
                            <input class="form-control" type="text" name="accountId" id="accountId" disabled
                                   th:field="${account.id}" required>
                        </li>
                        <li>
                            <label>账本名称:</label>
                            <input class="form-control" type="text" name="accountName" id="accountName" readonly="true"
                                   th:field="${account.accountName}" required>
                        </li>
                        <li  >
                            <label>日期：</label>
                            <input type="text" class="time-input" placeholder="请选择日期" name="moneyDate"  readonly="readonly"/>
                        </li>
                        <li>
                            <label>是否入账：</label>
                            <select name="isTotal" th:with="type=${@dict.getType('account_is_Total')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="addPay()" shiro:hasPermission="account:money:add">
                <i class="fa fa-plus"></i> 支出
            </a>
            <a class="btn btn-success" onclick="addIncome()" shiro:hasPermission="account:money:add">
                <i class="fa fa-plus"></i> 收入
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="account:money:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="account:money:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="account:money:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('account:money:edit')}]];
    var removeFlag = [[${@permission.hasPermi('account:money:remove')}]];
    var isTotalDatas = [[${@dict.getType('account_is_Total')}]];
    var classTypeDatas = [[${@dict.getType('account_income_pay')}]];
    var prefix = ctx + "account/money";

    $(function () {
        var options = {
            url: prefix + "/list",
            queryParams: queryParams,
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "记账详情",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键id',
                    visible: false,  // 隐藏某列（列选项可见）
                    ignore: true,    // 列选项不可见
                },
                {
                    field: 'className',
                    title: '所属分类',
                },
                {
                    field: 'money',
                    title: '金额',
                    sortable: true,
                    formatter: function (value, item, index) {
                        return value.toLocaleString('zh', {style: 'currency', currency: 'CNY'});
                    }
                },
                {
                    field: 'moneyDate',
                    title: '花钱日期',
                    sortable: true,
                },

                {
                    field: 'isTotal',
                    title: '是否记入总账',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(isTotalDatas, value);
                    }
                }, {
                    field: 'classType',
                    title: '收支状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(classTypeDatas, value);
                    }
                }, {
                    field: 'moneyIntroduce',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /*加载列表信息*/
    function queryParams(params) {
        var search = $.table.queryParams(params);
        // search.dictType = $("#dictType").val();
        search.accountId = $("#accountId").val();
        console.log(search.accountId, " search.accountId ")
        return search;
    }

    /*账目详情(金额)-新增金额*/
    // function addPay() {
    //     debugger;
    //     var accountId = $("#accountId").val();
    //     $.operate.add(accountId,0);
    // }

    /*支出0----账目详情(金额)-新增金额*/
    function addPay() {
        var accountId = $("#accountId").val();
        var url = prefix + '/add/' + accountId + '/' + 1;
        $.modal.openTab("新增支出", url);
    }

    /*收入1----账目详情(金额)-新增金额*/
    function addIncome() {
        var accountId = $("#accountId").val();
        // $.operate.add(accountId);
        var url = prefix + '/add/' + accountId + '/' + 0;
        $.modal.openTab("新增支出", url);
    }

</script>
</body>
</html>
