<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.emmanuel.account.mapper.AccountBillMapper">

    <resultMap type="com.ruoyi.project.emmanuel.account.domain.AccountBill" id="AccountBillResult">
        <result property="month"    column="month"    />
        <result property="pay"    column="pay"    />
        <result property="income"    column="income"    />
        <result property="balance"    column="balance"    />
        <result property="moneyIgnore"    column="moneyIgnore"    />
    </resultMap>

    <sql id="selectAccountBillVo">
        select month, pay, income, balance from account_bill
    </sql>

    <select id="selectAccountBillList" parameterType="AccountBill" resultMap="AccountBillResult">
        <include refid="selectAccountBillVo"/>
        <where>
            <if test="month != null  and month != ''"> and month = #{month}</if>
        </where>
    </select>

    <select id="selectAccountBillByMonth" parameterType="String" resultMap="AccountBillResult">
        <include refid="selectAccountBillVo"/>
        where month = #{month}
    </select>

    <select id="countMoneyByMonth" resultMap="AccountBillResult">
        select
            date_format(m.money_date,'%Y-%m') "month",
            sum(if(c.status = '1', m.money, 0)) as "income",
            sum(if(c.status = '2', m.money, 0)) as "pay",
            sum(if(c.status = '3', m.money, 0)) as "moneyIgnore"
        from account_account a
        inner join account_user_account ua on a.id = ua.account_id
        left join account_money m on a.id = m.account_id
        left join account_class c on c.id = m.class_id
        <where>
            m.deleted = 0 and m.is_total = 0 and ua.user_id = #{userId}
            <if test="accountBill.accountId != null and accountBill.accountId != ''">
                and m.account_id = #{accountBill.accountId}
            </if>
        <if test="accountBill.month != null and accountBill.month != ''">
            and m.money_date LIKE CONCAT(#{accountBill.month,jdbcType=VARCHAR},'%')
        </if>
    </where>
        GROUP BY date_format(m.money_date,'%Y-%m')
    </select>

    <select id="getAccount" resultType="com.ruoyi.project.emmanuel.account.domain.AccountAccount">
        SELECT id,account_name "accountName" from account_account ORDER BY order_num
    </select>

    <select id="billConunt" resultType="com.ruoyi.project.emmanuel.account.domain.AccountBill">
        SELECT LEFT(m.money_date, 7)   "money",
            c.class_name            "name",
            IFNull(sum(m.money), 0) "value",
            c.status                "status"
        from account_account a
            inner join account_user_account ua on a.id = ua.account_id
            inner join account_money m on a.id = m.account_id
            inner join account_class c on c.id = m.class_id AND m.deleted = 0
        where left(m.money_date, 7) = #{month,jdbcType=VARCHAR}
          and m.is_total = 0
          and ua.user_id = #{userId}
        GROUP BY LEFT(m.money_date, 7), class_name, c.status
    </select>

    <select id="countFullCalendarList" resultType="com.ruoyi.project.emmanuel.account.domain.AccountMoney">
        select sum(if(c.status = '1', m.money, 0)) as moneyIncome,
               sum(if(c.status = '2', m.money, 0)) as moneyPay,
               sum(if(c.status = '3', m.money, 0)) as moneyIgnore,
               money_date                          as moneyDate
        from account_account a
                 inner join account_user_account ua on a.id = ua.account_id
                 inner join account_money m on a.id = m.account_id
                 inner join account_class c on c.id = m.class_id
        WHERE is_total = 0 and ua.user_id = #{userId}
            and money_date like CONCAT( #{month,jdbcType=VARCHAR},'%') GROUP BY money_date
    </select>

    <select id="accountAnalysis" resultType="java.util.Map">
        select  c.class_name as name, sum(m.money)  as value,c.`status` as status
        from account_class c
                 left join account_money m on c.id = m.class_id
        where m.account_id = #{accountId,jdbcType=BIGINT}
          and m.deleted = 0
          and m.is_total = 0
        group by c.id, c.class_name,c.`status`
    </select>
</mapper>
