<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns="http://www.w3.org/1999/html">

<head>
    <th:block th:include="include :: header('首頁')"/>
    <!--    <th:block th:include="include :: element-css"/>-->
    <th:block th:include="include :: toastr-css"/>
    <!--    自定义样式-->
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>

<body class="gray-bg">
<div v-cloak class="wrapper wrapper-content animated fadeInRight" id="app">

    <!--    最上面四个框-->
    <div class="row">
        <div class="col-sm-3" style="height:140px; overflow:hidden; ">
            <div class="widget style1 " style="height:115px; overflow:hidden;">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-envelope-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <!--                        <span> 新消息 </span>-->
                        <!--                        <h6 class="font-bold">您来自: {{weather.ip}} <br>{{weather.comeFrom}}</h6>-->
                        <h5 class="font-bold">本次登录: {{returnLocation.cip}}
                            <br>{{ returnLocation.cname.length == 0 ? '获取定位失败' : returnLocation.cname}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget style1 navy-bg" style="height:115px; overflow:hidden;">
                <div class="row">
                    <div class="col-xs-3">
                        <!--                        <i class="fa fa-cloud fa-5x"></i>-->
                        <span style="font-family: 黑体; text-align:left; font-size: 20px"> {{weather.data.city}}</span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span style="font-family: 黑体; text-align:left; float:left"> {{weather.data.ganmao}} </span>
                        <h6 class="font-bold"><span
                                style="color: yellow">  {{(weather.data.forecast[0].low || '').slice(2)}}/{{(weather.data.forecast[0].high || '').slice(2)}}</span>
                            {{weather.data.forecast[0].type}} {{weather.data.forecast[0].fengxiang}}
                            {{ weather.data.wendu }}'C</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget style1 lazur-bg" style="height:115px; overflow:hidden;">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <!--                        <i class="fa fa-trophy fa-5x"></i>-->
<!--                        <span style="font-family: 黑体; text-align:left; font-size: 13px"> {{(dataInfo.nowDate || '').slice(0, 11)}}</span>-->
                        <span style="font-family: 黑体; text-align:left; font-size: 13px"> {{date}}</span> <br>
                        <span style="font-family: 黑体; text-align:left; font-size: 13px"> 星期{{"日一二三四五六".charAt(new Date().getDay())}}</span>
                    </div>
                    <div class="col-xs-8 text-right">
                        <h6 class="font-bold">今年剩于{{dataInfo.surpluDay}}天</h6>
                        <div class="progress progress-mini">
                            <div :style=" {width:  dataInfo.surpluHundred } " class="progress-bar progress-bar-warning"></div>
                        </div>

                        <h6 class="font-bold">本周剩余{{7-(new Date().getDay())}}天</h6>
                        <div class="progress progress-mini">
                            <div :style=" {width:   ((7-new Date().getDay())/7*100).toFixed(4)+'%'} " class="progress-bar progress-bar-warning"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget style1 yellow-bg" style="height:115px; overflow:hidden;">
                <div class="row" style="overflow:auto;">
<!--                    <div class="col-xs-4">-->
<!--                        <i class="fa fa-music fa-5x"></i>-->
<!--                    </div>-->
                    <div class="col-xs-12 text-right">
                        <span style="font-family: 黑体; text-align:left; float:left "> {{oneGolden.golden.length > 59 ? oneGolden.golden.slice(0,58) + '...' : oneGolden.golden }} </span>
                        <h6 class="font-bold">{{oneGolden.author}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    项目介绍-->
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="http://www.ruoyi.vip" target="_blank">http://www.ruoyi.vip</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ群： <a href="https://jq.qq.com/?_wv=1027&k=540WfdEr"
                                                            target="_blank">暂不提供</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">暂不提供</a>
                        </p>
                        <p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;" class="支付宝信息">暂不提供</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v473">v2.0 </a><code
                                                class="pull-right">2022.03.19</code>
                                        </h5>
                                    </div>
                                    <div id="v473" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>新增功能标签分类</li>
                                                <li>新增动态(心情打卡上线啦)</li>
                                                <li>新增网盘功能</li>
                                                <li>新增mac风格代码块</li>
                                                <li>自定义全局异常上传文件超过系统设置最大限制</li>
                                                <li>优化博客首页图片显示</li>
                                                <li>优化博客导航二级菜单icon</li>
                                                <li>修复备忘录删除报错</li>
                                                <li>首页index列表图片失效容错</li>
                                                <li>修复导入markdown文档标题错误</li>
                                                <li>修复随手记sql查询逻辑错误</li>
                                                <li>修复记账分类(分类状态)过滤失效问题</li>
                                                <li>浏览文件解决上传图片名有中文名无法显示</li>
                                                <li>优化博客导入，支持导入是否选择更新</li>
                                                <li>修复首页显示问题</li>
                                                <li>修复导入Excel时字典字段类型为Long转义为空问题</li>
                                                <li>优化导出数据LocalDateTime类型无数据问题</li>
                                                <li>修复表格打印组件不识别多层对象属性值问题(I4V7YV)</li>
                                                <li>文件上传兼容Weblogic环境</li>
                                                <li>升级mybatis-plus到最新版3.5.1</li>
                                                <li>升级lombok到1.18.22</li>
                                                <li>升级markdown转html到2.6.4</li>
                                                <li>其他细节优化</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v472">v1.0</a><code
                                                class="pull-right">2022-03-02</code>
                                        </h5>
                                    </div>
                                    <div id="v472" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>若依博客稳定版发布</li>
                                                <li>已具备基本的博客功能</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>捐赠</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            请作者喝杯咖啡（支付宝扫码）
                        </div>
                        <p id="pay-qrcode">
                            <a href="javascript:;"><img th:src="@{/img/ali-pay.png}" width="100%" alt="请使用手机支付宝扫码支付">
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: vue-js"/>
<th:block th:include="include :: toastr-js"/>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--官网 https://www.npmjs.com/package/js-cookie -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

</body>

<script>
    new Vue({
        el: '#app',
        data: {
            // 天气
            weather: {
                data: {
                    ganmao: "",
                    wendu: "",
                    forecast: [
                        {
                            type: "", date: "",
                            fengli: "",
                            fengxiang: "",
                            high: "",
                            low: "",
                        },
                    ],
                },
                ip: '',
                comeFrom: '',
            },

            // 天数
            dataInfo: {},

            // 每日一句
            oneGolden: {},

            // 定位城市
            returnLocation: {cname: ''},

            date: new Date().toLocaleString('chinese',{hour12:false}),

        },
        created() {
            // 获取天气
            this.getWeather();

            // 获取天数
            this.getDayInfo();

            // 获取每日一句
            this.getOneGolden();

            // 根据ip获取定位
            this.getLocationByIp();

        },

        mounted () {
            // 声明一个变量指向Vue实例this,保证作用域一致
            let _this = this
            this.timer = setInterval(() => {
                // 修改数据date
                _this.date = new Date().toLocaleString('chinese',{hour12:false});
        }, 1000)
        },
        beforeDestroy () {
            if (this.timer) {
                // 在vue实例销毁前，清除我们的定时器
                clearInterval(this.timer)
            }
        },

        methods: {
            // 获取天气
            getWeather() {
                var weather = Cookies.get('weather');
                if (weather) {
                    this.weather = JSON.parse(weather);
                    return;
                }
                axios.get("http://api.ipify.org?format=xml").then((res) => {
                    axios.get("/admin/index/getWeathe?ip=" + window.btoa(res.data)
                    ).then(res => {  // 成功
                        if (res && res.data) {
                            this.weather = res.data.data;
                            toastr.success(this.weather.data.city + " 天气：" + this.weather.data.forecast[0].type + "，现在温度" + this.weather.data.wendu + "'C 最低气温" + (this.weather.data.forecast[0].low || '').slice(2) + "，最高气温" + (this.weather.data.forecast[0].high || '').slice(2))
                            // 设置为当天24点过期
                            // Cookies.set('weather', JSON.stringify(this.weather), {expires: this.getNextDate()});
                            // 设置为1小时后过期
                            Cookies.set('weather', JSON.stringify(this.weather), {expires: new Date(new Date().getTime() + 60 * 1000 * 60)});
                        }
                    }).catch(error => { //失败
                        toastr.error("获取天气失败")
                    })
                })
            },

            // 获取天数
            getDayInfo() {
                var dataInfo = Cookies.get('dataInfo');
                if (dataInfo) {
                    this.dataInfo = JSON.parse(dataInfo);
                    return;
                }
                axios.get("/admin/index/dayInfo"
                ).then(res => {  // 成功
                    if (res && res.data) {
                        this.dataInfo = res.data.data;
                        Cookies.set('dataInfo', JSON.stringify(this.dataInfo), {expires: this.getNextDate()});
                    }
                }).catch(error => { //失败
                    toastr.error("获取时间失败")
                })
            },

            // 获取每日一句
            getOneGolden() {
                var oneGolden = Cookies.get('oneGolden');
                if (oneGolden) {
                    this.oneGolden = JSON.parse(oneGolden);
                    return;
                }
                axios.get("/admin/index/oneGolden"
                ).then(res => {  // 成功
                    if (res && res.data) {
                        this.oneGolden = res.data.data;
                        toastr.success(this.oneGolden.golden);
                        Cookies.set('oneGolden', JSON.stringify(this.oneGolden), {expires: this.getNextDate()});
                    }
                }).catch(error => { //失败
                    toastr.error("获取每日一句失败")
                })
            },

            // 根据ip获取定位
            getLocationByIp() {
                // console.log("111",Math.ceil(( new Date() - new Date(new Date().getFullYear().toString()))/(24*60*60*1000))+1)
               var that = this;
                $.ajax({
                    url: 'http://pv.sohu.com/cityjson?ie=utf-8',
                    dataType: "script",
                    method: 'GET',
                }).done(function () {
                    that.returnLocation = returnCitySN;
                    toastr.success(that.returnLocation.cname);
                });
            },

            /**
             * 需求为：在当天晚上0:00过期。
             * @returns {当前时间}
             */
            getNextDate() {
                var d = new Date(),
                    year = d.getFullYear(),
                    month = d.getMonth(),
                    day = d.getDate(),
                    nextDay = new Date(year, month, (day + 1), 00, 00, 00);
                return nextDay;
            },
        }

    })
</script>


</html>
