<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.emmanuel.mto.mapper.MtoChannelMapper">
    <resultMap type="com.ruoyi.project.emmanuel.mto.domain.MtoChannel" id="MtoChannelResult">
        <result property="id" column="id"/>
        <result property="key" column="key_"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="weight" column="weight"/>
    </resultMap>

    <sql id="selectMtoChannelVo">
        select id, key_, name, type, status, thumbnail, weight
        from mto_channel
    </sql>

    <select id="selectMtoChannelList" parameterType="com.ruoyi.project.emmanuel.mto.domain.MtoChannel"
            resultMap="MtoChannelResult">
        <include refid="selectMtoChannelVo"/>
        <where>
            <if test="key != null  and key != ''">
                and key_ like concat('%', #{key}, '%')
            </if>
            <if test="name != null  and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="thumbnail != null  and thumbnail != ''">
                and thumbnail = #{thumbnail}
            </if>
            <if test="weight != null ">
                and weight = #{weight}
            </if>
        </where>
        order by weight desc
    </select>

    <select id="selectMtoChannelById" parameterType="Long" resultMap="MtoChannelResult">
        <include refid="selectMtoChannelVo"/>
        where id = #{id}
    </select>

    <insert id="insertMtoChannel" parameterType="com.ruoyi.project.emmanuel.mto.domain.MtoChannel" useGeneratedKeys="true"
            keyProperty="id">
        insert into mto_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="key != null">
                key_,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="thumbnail != null">
                thumbnail,
            </if>
            <if test="weight != null">
                weight,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="key != null">
                #{key},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="thumbnail != null">
                #{thumbnail},
            </if>
            <if test="weight != null">
                #{weight},
            </if>
        </trim>
    </insert>

    <update id="updateMtoChannel" parameterType="com.ruoyi.project.emmanuel.mto.domain.MtoChannel">
        update mto_channel
        <trim prefix="SET" suffixOverrides=",">
            <if test="key != null">
                key_ = #{key},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="thumbnail != null">
                thumbnail = #{thumbnail},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMtoChannelById" parameterType="Long">
        delete
        from mto_channel
        where id = #{id}
    </delete>

    <delete id="deleteMtoChannelByIds" parameterType="String">
        delete from mto_channel where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="isExist" resultType="java.lang.String">
        select 1 from mto_channel
        <where>
            and (
            key_ = #{key,jdbcType=VARCHAR} or name = #{name,jdbcType=VARCHAR}
            )
            <if test="id != null and id != ''">
                and id != #{id,jdbcType=BIGINT}
            </if>
        </where>
        limit 1
    </select>
</mapper>
